#main {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#gameBoard {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
#playersNames {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#playersTotals {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#winningPlayer {
    text-align: center;
}
#reset{
    
    width:100px;
    height:30px;
}
#right-side {
    text-align: center;
}