#main {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#gameBoard {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
#playersNames {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#playersTotals {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#winningPlayer {
    text-align: center;
}
#reset{
    
    width:50vw;
    height:3vh;
}
#resetBoard{
    
    width:50vw;
    height:3vh;
}
#right-side {
    text-align: center;
}
#liveResults{
    height:40vh;
    overflow: scroll;
}